nav {
    background-color: grey;
}

nav p {
    color: blueviolet;

}

nav ul {
    display: flex;
    gap: 8px;
    list-style: none;
}

nav a.nav-item {
    background-color: black;
    border-radius: 999px;
    padding: 4px 16px;
}

footer {
    background-color: rgb(37, 37, 37);
}

.text-small {
    font-size: 12px;
}