main {
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
}

main div.container {
    background-color: rgb(21, 54, 54);
}

.padding-8 {
    padding: 20px;
}

main section.hero {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

main section p.mini-text {
    font-size: 12px;
    max-width: 300px;
}



/* main h1 {}

main h2 {} */